<div class="row">
	<div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-4">
		<div class="card mb-4">
			<div class="card-header">
				<h2 class="card-title"><%= t('.sign_up') %></h2>
			</div>
			<div class="card-body">
				<%= render "devise/registrations/new" %>
			</div>
			<div class="card-footer text-end">
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>