<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Devs", users_path %></li>
    <li class="breadcrumb-item"><%= link_to @user.name, @user %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<%= render 'form', user: @user %>
