<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active mr-auto" aria-current="page">Users</li>
  </ol>
</nav>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
  <% @users.each do |user| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= link_to user.id, user %></h5>
          <p class="card-text"><%= user.inspect %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= user.created_at %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
