<nav aria-label="search">
  <%= render '/partials/search', placeholder: "Search devs..." %>
</nav>

<%= turbo_frame_tag "users" do %>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    <%= render partial: '/users/user', collection: @users, as: :user %>
    <div id="user_cards"></div>
  </div>
  <%= render partial: "/partials/load_more", locals: { total: @users.length, count: @users_count, offset: @offset + @limit } %>
<% end %>