<div class="p-5 mb-4 bg-light rounded-3" data-controller="banner" data-banner-phrases-value='["Discover New Gems","Find Similar Developers","Join The Rails Community","Support Gem Developers","Share Gems You Love"]'>
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold banner-phrase" data-banner-target="phrase">Share Gems You Love</h1>
    <p class="col-md-8 fs-4">Discover what gems your favorite developers use, share the gems that you love.</p>
  </div>
</div>