<% cache(tag) do %>
  <div class="col">
    <div class="card h-100 animate__animated animate__fadeIn">
      <div class="card-body">
        <h5 class="card-title"><%= link_to tag.name, tag_path(tag), data: { turbo_frame: "_top" } %></h5>
      </div>
      <div class="card-footer">
        <%= render_badge(icon: "fas fa-tag") do %>
          <%= number_to_human(tag.taggings_count) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>