.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #cccccc;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #cccccc;
  }

  &::before {
    margin-right: 0.25em;
  }

  &::after {
    margin-left: 0.25em;
  }
}