img {
  &.img-avatar {
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ccc;
  }

  &.img-small {
    width: 33px;
    height: 33px;
  }

  &.img-medium {
    width: 72px;
    height: 72px;
  }

  &.img-large {
    width: 100px;
    height: 100px;
  }
}